<br>
<body>
<h1 id="main1">Django App</h1>
<p id="main2">Welcome to this Django app.</p>
<p><center><b>Enter integer elements of your choice:</b></center></p>
<form ><center>
    <textarea name="list" cols="30" rows="5" ></textarea><br><br>
    <input type="submit" value="Binary Search Tree" class="button" formaction="code1"/>
    <input type="submit" value="Insertion Sorting" class="button" formaction="code2"/></center>
</form>
</body>
<style>
    #main1{
        background-color: lavender;
        color: black;
        padding: 30px;
        font-size: 60;
        text-align: center;
    }
    #main2{
        background-color: pink;
        color: black;
        padding: 30px;
        font-size: 40;
        text-align: center;
    }
    .button{
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>

